body {
    text-align: center;
    margin: 2rem;
}

.container {
    width: 100vw;
    text-align: center;
}

.main {
    /* width: 100%; */
}

table {
    margin: 2rem auto;
}

table a {
    color: red;
    text-decoration: none;
}