{% extends 'base.html' %}
{% block content %}
<h1>Wish List Items</h1>

{% if items %}
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items%}
        <tr>
            <td>{{ item.description }}</td>
            <td><a href="{% url 'item_delete' item.id %}">X</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% else %}
<h3>No Wish List Items Exist</h3>
{% endif %}
<hr>
<a class="pure-button" href="{%url 'item_create' %}">Add A Wish Item</a>
{% endblock %}